/* Slider css */
header .slider{
  background-color: #E0DCCD;
  padding-bottom: 40px;
}
header .slider .swapSlider{
  position:absolute;  
  margin-left: calc(90% - 55px);
  margin-top: 5%;
}
header .slider .sliderImg{
  margin: 2.5% 2.5% 0 2.5%;
  width: 95%;
}
header .slider .slideshow-container {
  position: relative;
  margin: auto;
}

header .slider .vapianoText {
  color: white;
  font-size: 20px;
  margin: 5%;
  position: absolute;
}

/* The dots/bullets/indicators */
header .slider .dot {
  cursor: pointer;
  height: 8px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}
header .slider .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
header .slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* menu css */
header .slider .mainMenu {
  margin-top: -62px;
  text-align: center;
}
header .slider .mainMenu ul {
  padding-left: 0;
  margin: 0;
}
header .slider .mainMenu ul li {
  /* выстраиваем элементы списка в один ряд */
  margin-right: -4px;
  padding: 20px 5%;
  display: inline-block;  
  background-color: rgba(141, 143, 142, 0.1);
  border-width: 12.12px;
  border-color: white;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
header .slider .mainMenu ul li a {
  text-decoration: none;
  font: bold 14px Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-shadow: #000 0px 0px 3px;
}
header .slider .mainMenu ul li.active {
  background: white;
}
header .slider .mainMenu ul li:hover {
  background-color: white;
  -moz-opacity: .90;
  filter: alpha(opacity=90);
  opacity: .90;
}
.nameMenu {
  font-size: 30px;
}

/* header css */
.blackHeader {
  font-style: italic;
  width: 80%;
  height: 80px;
  margin: 0 10% 0 10%;
  text-align: center;
  background-color: black;  
  color: white;
}
.blackHeader hr {
  width: 5%;
  border: none;
  color: rgb(242, 171, 127 );
  background-color: rgb(242, 171, 127 );
  height: 6px;
  margin-top: -8px;
} 
.blackHeader .orangeLine hr {
  width: 100%;
  border: none;
  color: rgb(242, 171, 127 );
  background-color: rgb(242, 171, 127 );
  height: 1px;
  margin-top: 20px;
} 

/* food coast css */
.main .foodCoast img {
  margin: 40px 10% 40px 10%;
  width: 80%;
}

/* workingTime css */
.main .workingTime {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* headLine */
.main .headLine { 
  text-align: center;
  font-size: 30px;
  color: rgb(242, 171, 127 );
  margin-bottom: 20px;
}
.main .headLine .actionen {
  font-style: italic;
}

/* Slider1 css */
.main .swapSlider1{  
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sliderImg1{
  margin: 5%; 
  width: 90%;
}
.main .slideshow-container1 {
  max-width: 1980px;
  position: relative;
  margin: auto;
}
.main .dot1 {
  cursor: pointer;
  height: 13px;
  width: 12px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
}
.main .swapSlider1 span{
color: rgb(242, 171, 127 );
font-size: 25px;
}
.main .mySlides1 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -50px;
  text-align: center;
}
.sliderImg1 {
  border: 8px solid #fff;
  outline: 2px solid rgb(242, 171, 127);
  text-align: center;
  width: 20%;
  height: 350px;
}
@media (max-width: 1280px){
  .sliderImg1 {
    height: auto;
    }
}
.main .fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* speisekarte css */
.main .speisekarte {
  font-style: italic;
  background-color: #E0DCCD;
  padding-bottom: 40px;
}
.main .aboutFood {
  margin-left: 5%;
  margin-right: 5%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main .aboutFood .infoFood img {
  width: 33.33333%;
  height: auto;
  min-width: 180px;
}
.main .infoFood {
  display:flex;
  width: 50%;
  height: 250px;
  margin-left: calc(5% + 10px);
  margin-right: calc(5% + 10px);
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  border: 8px solid #E0DCCD;
  outline: 2px solid rgb(242, 171, 127);
}
.main .textFood {
  overflow-y: auto;
  font-size: 20px;
  width: 66.66667%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px;
}
.main .textFood b {
  font-size: 25px;
}
.main .textFood .text, .textFood a {
  font-style: normal;
}

/* kontakt css */
.main .kontakt {
  background-color: #E0DCCD;
}
.main .senderForm {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.main .senderForm .input_form {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
}
.main .senderForm input {
  margin-top: 5px;
  width: 33%;
  height: 40px;
  font-weight: bold;
  border: 1px solid rgb(242, 171, 127);
  background-color: #E0DCCD;
}
.main .senderForm input.btn {
  width: 20%;
  height: auto;
}
.main #message {
  height: 200px !important;
  width: 90% !important;
}
.main .sender {
  width: 50%;
}
.main .btn {
  padding: 10px 5% 10px 5%;
}
.main input:hover {
  background-color: rgba(242, 171, 127, 0.4);
}
.main .map {
  width: 45%;
  height: 280px;
  border: 8px solid #E0DCCD;
  outline: 2px solid rgb(242, 171, 127);
}
.main .pos {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
}

/* footer css */
.main footer {
  background-color: #1F1F21;
}
.main .whiteHeader {
  font-style: italic;
  font-size: 30px;
  background-color: white;
  padding: 80px 80px 120px 80px;
  margin: 0 10% 0 10%;
  margin-top: -80px;
  text-align: left;
  color: #1F1F21;
}
.main .whiteHeader  {
  font-style: normal;
}
.main .blackF {
  background-color: #1F1F21;
}
.main .about span {
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 12px;
}
.main .member {
  font-style: italic;
  font-size: 30px;
}
.main .member .headLine {
  margin: 10px auto;
  font-style: normal;
  text-align: left;
}
.main .col {
  margin-top: 60px;
  width: 450px;
  margin-bottom: 40px;
}
.main .about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main .background_fon{ 
  height: 40px;
  background-color: #e0dccd;
}